@page
@model KaberdinCourseiLearning.Areas.User.Pages.ProfileModel
@inject IViewLocalizer Localizer
@{
}
@using KaberdinCourseiLearning.Pages.Partials.Models;
<link href="~/lib/dropzone/min/basic.min.css" rel="stylesheet" />
<link href="~/lib/dropzone/min/dropzone.min.css" rel="stylesheet" />
<link href="~/css/Collection/Collection.css" rel="stylesheet" />
<link href="~/css/Profile.css" rel="stylesheet" />
@Html.AntiForgeryToken()
<div class="container">
    <div class="row">
        <div id="Collections" class="col-md-9 pr-3 pr-md-5">
            <div class="row">
                <h1>@Localizer["Collections"]</h1>
            </div>
            @if (Model.PermittedToChange)
            {
                <a name="AddCollectionBtn" asp-area="Collection" asp-page="Create" asp-route-name="@Model.PageUser.UserName" class="mb-2 row btn btn-outline-primary"><i class="fa fa-plus-square"></i> @Localizer["Add collection"]</a>
            }
            <div class="row" id="CollectionsRow">
                @{
                    if (Model.PageUser.ItemCollections.Count == 0)
                    {
                        <h2>@Localizer["No collections"]</h2>
                    }
                    else
                    {
                        foreach (var collection in Model.PageUser.ItemCollections)
                        {
                            var collectionModel = new CollectionModel() { Collection = collection, PermittedToChange = Model.PermittedToChange };
                            <partial name="_PartialCollection" model="collectionModel" />
                        }
                    }
                }
            </div>
        </div>
        <div id="ProfileInfo" class="col-md-3 order-first order-md-0 text-center">
            <div class="row">
                <div class="card m-auto" name="ProfileCard">
                    <h4 id="UserName" class="m-auto">@Model.PageUser.UserName</h4>
                    <div>
                        @if (Model.PermittedToChange)
                        {
                            <form class="m-auto ProfilePicture img-thumbnail dropzone" style="background-image: url(@Model.PageUser.AvatarUrl);" id="AvatarDropzone" method="post" asp-page-handler="UploadAvatar"></form>
                        }
                        else
                        {
                            <img src="@Model.PageUser.AvatarUrl" id="AvatarPicture" class="ProfilePicture img-thumbnail" alt="...">
                        }
                    </div>
                    <div class="card-footer" id="ProfileDescription">
                        <div class="card-text overflow-hidden h-100" @if (Model.PermittedToChange) { @Html.Raw("id='DescriptionContent'"); }>
                            <p class="text-break text-wrap text-truncate markdown">@Model.PageUser.HomePage.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/dropzone/min/dropzone.min.js"></script>
    <script src="~/lib/markdown-it/markdown-it.js"></script>
    <script src="~/js/Profile/Profile.js"></script>
    <script src="~/js/Collection/Collection.js"></script>
}