@page
@model KaberdinCourseiLearning.Areas.User.Pages.ProfileModel
@{
}
<link href="~/lib/dropzone/min/basic.min.css" rel="stylesheet" />
<link href="~/lib/dropzone/min/dropzone.min.css" rel="stylesheet" />
<link href="~/css/Profile.css" rel="stylesheet" />
@Html.AntiForgeryToken()
<div class="container">
    <div class="row">
        <div id="Collections" class="col-md-9">
            <div class="row">
                <h1>Collections</h1>
            </div>
            @if (Model.PermittedToChange)
            {
                <a name="AddCollectionBtn" asp-area="Collection" asp-page="Create" asp-route-name="@Model.PageUser.UserName" class="row btn btn-primary"><i class="fa fa-plus-square"></i> Add collection</a>
            }
            <div class="row">
                @{
                    if (Model.PageUser.ItemCollections.Count == 0)
                    {
                        <h2>No collections to show.</h2>
                    }
                    else
                    {
                        foreach (var collection in Model.PageUser.ItemCollections)
                        {
                            var css = $"background-image: url({collection.BackgroundUrl});";
                            <div class="container position-relative d-flex flex-column" style="@css" name="Collection" id="@collection.CollectionID">
                                <div class="row bg-info" name="CollectionAuthor">
                                    <div class="col-2 m-h-100" name="CollectionAuthorAvatar">
                                       <img src="@Model.PageUser.AvatarUrl" class="img-thumbnail m-h-100" alt="...">
                                    </div>
                                    <div class="col-9" name="CollectionAuthorName">
                                        <a name="CollectionAuthor" asp-area="User" asp-page="/Profile" asp-route-name="@Model.PageUser.UserName" class="text-break font-weight-bold text-light text-left">@Model.PageUser.UserName</a>
                                    </div>
                                </div>
                                <div class="row Blk-Trslcnt-Bg" name="HeaderData">
                                    <div class="col-6">
                                        <p name="CollectionName" class="font-weight-bold text-light">@collection.Name</p>
                                    </div>
                                    <div class="col-6">
                                        <p name="CollectionTheme" class="font-weight-bold text-light text-right">@collection.Theme</p>
                                    </div>
                                </div>
                                <div class="row Blk-Trslcnt-Bg flex-grow-1 overflow-hidden text-light">
                                    <p class="col" name="Description">@collection.Description</p>
                                </div>
                                <div class="row Blk-Trslcnt-Bg" name="CollectionControls">
                                    <button class="btn btn-light position-absolute" name="ShowDetail"><i class="fa fa-arrow-down"></i></button>
                                    @if (Model.PermittedToChange)
                                    {
                                        <div class="position-absolute" name="buttonGroup">
                                            <button class="btn btn-light" name="Delete" onclick="onDelete(this)"><i class="fa fa-trash"></i></button>
                                            <button class="btn btn-light" name="Edit"><i class="fa fa-edit"></i></button>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
        <div id="ProfileInfo" class="col-md-3 order-first order-md-0 text-center">
            <div class="row">
                <div class="card m-auto" name="ProfileCard">
                    <h4 id="UserName" class="m-auto">@Model.PageUser.UserName</h4>
                    <div id="ProfilePicture">
                        <img src="@Model.PageUser.AvatarUrl" class="img-thumbnail" alt="...">
                        @if (Model.PermittedToChange)
                        {
                            <button type="button" id="AvatarChange" class="btn bg-transparent position-absolute" style="display:none;" data-toggle="modal" data-target="#AvatarModal">
                                <i class="far fa-edit"></i>
                            </button>
                        }
                    </div>
                    <div class="card-footer" id="ProfileDescription">
                        <div class="card-text overflow-hidden h-100" id="DescriptionContent">
                            <p class="text-break text-wrap text-truncate">@Model.PageUser.HomePage.Description</p>
                        </div>
                        @if (Model.PermittedToChange)
                        {
                            <button type="button" id="DescChange" class="btn bg-transparent position-absolute">
                                <i class="far fa-edit"></i>
                            </button>
                            <button type="button" id="DescAccept" class="btn bg-transparent position-absolute">
                                <i class="far fa-check-square"></i>
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.PermittedToChange)
    {
        <div class="modal fade" id="AvatarModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Upload your new avatar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="dropzone" id="AvatarDropzone" method="post" asp-page-handler="UploadAvatar"></form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/lib/dropzone/min/dropzone.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/markdown-it/markdown-it.js"></script>
<script src="~/js/Profile.js"></script>
<script src="~/js/ProfileCollections.js"></script>