@page
@model KaberdinCourseiLearning.Areas.Collection.Pages.CreateModel
@inject IViewLocalizer Localizer
@inject SharedThemeLocalizer ThemeLocalizer
@{
}
@Html.AntiForgeryToken()
<link href="~/lib/dropzone/min/dropzone.min.css" rel="stylesheet" />
@if (Model.isEdit)
{
    <h2>@Model.Collection.Name @Localizer["update"]</h2>
}
else
{
    <h2>@Localizer["Collection creation"]</h2>
}


<div>
    @if (Model.isEdit)
    {
        <h2>@Localizer["Edit your collection"]</h2>
    }
    else
    {
        <h4>@Localizer["Create your collection"]</h4>
    }
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_CreatePlan" />
        </div>
        <div class="col-md-9">
            <div id="CollectionForm">
                @if (Model.isEdit)
                {
                    <input type="hidden" id="CollectionID" value="@Model.Collection.CollectionID" />
                }
                else
                {
                    <input type="hidden" id="PageUserName" value="@Model.PageUser.UserName" />
                }
                <div class="row" name="PlanItem">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">@Localizer["Name"]</label>
                            <input id="Name" class="form-control" value="@Model.Collection?.Name" placeholder="@Localizer["Name"]" />
                        </div>
                        <div class="form-group">
                            <label for="Theme">@Localizer["Theme"]</label>
                            <select id="Theme" class="form-control">
                                @foreach (var theme in Model.Themes)
                                {
                                    if (Model.Collection?.Theme == theme.Theme)
                                    {
                                        <option selected value="@theme.ThemeID">@ThemeLocalizer[theme.Theme]</option>
                                    }
                                    else
                                    {
                                        <option value="@theme.ThemeID">@ThemeLocalizer[theme.Theme]</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Description">@Localizer["Description"]</label>
                            <textarea id="Description" class="form-control" style="resize:none;" placeholder="@Localizer["Description"]">@Model.Collection?.Description</textarea>
                        </div>
                        <div class="form-group">
                            <label>@Localizer["Background Image"]</label>
                            <div id="backgroundImageDz" class="dropzone">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-none" name="PlanItem">
                    <div class="col-md-6">
                        <h4>@Localizer["Add fields to items in this collection."]</h4>
                        <h5 class="col-5 p-0 d-inline-block text-center font-weight-bold">@Localizer["Name"]</h5>
                        <h5 class="col-6 p-0 d-inline-block text-center font-weight-bold">@Localizer["Type"]</h5>
                        <div id="Items">

                            <div class="form-group d-none" name="Item" id="clonableItem">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <input name="PlaceholderName" class="form-control" placeholder="@Localizer["Name"]" />
                                        </div>
                                        <div class="col-5">
                                            <select name="PlaceholderType" class="form-control">
                                                @foreach (var type in Model.Types)
                                                {
                                                    <option value="@type.TypeID">@Localizer[type.TypeName]</option>
                                                }
                                            </select>
                                        </div>
                                        <button class="btn col-1 p-0" name="PlaceholderDeleteBtn"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                            @{
                                if (Model.isEdit)
                                {
                                    foreach (var item in Model.Collection.Columns)
                                    {
                                        <div class="form-group" name="Item" id="@item.ColumnID">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input name="ColumnName" class="form-control" value="@item.ColumnName" placeholder="@Localizer["Name"]" />
                                                    </div>
                                                    <div class="col-5">
                                                        <select name="ColumnType" class="form-control">
                                                            @foreach (var type in Model.Types)
                                                            {
                                                                if (type.TypeID == item.TypeID)
                                                                {
                                                                    <option selected value="@type.TypeID">@Localizer[type.TypeName]</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@type.TypeID">@Localizer[type.TypeName]</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <button class="btn col-1 p-0" name="deleteColumnBtn"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                        <button id="ItemAdd" class="btn btn-primary mb-2"><i class="fa fa-plus-square"></i> @Localizer["Add item field"]</button>
                    </div>
                </div>
                <div class="row d-none" name="PlanItem">
                    <div class="col-md-6">
                        <h4>@Localizer["Publish your changes!"]</h4>
                        <ul id="PublishInfo">
                        </ul>
                    </div>
                </div>
                <button id="Previous" onclick="return onPrev()" class="btn btn-primary disabled">@Localizer["Previous"]</button>
                <button id="Next" onclick="return onNext()" class="btn btn-primary">@Localizer["Next"]</button>
                <button id="SubmitBtn" class="btn btn-primary d-none">@Localizer["Publish!"]</button>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/dropzone/min/dropzone.min.js"></script>
<script src="~/js/Collection/CreatePlanNavigation.js"></script>
<script src="~/js/Collection/Create.js"></script>