@page
@model KaberdinCourseiLearning.Areas.Collection.Pages.IndexModel;
@using KaberdinCourseiLearning.Pages.Partials.Models;
@using KaberdinCourseiLearning.Managers;
@inject TagManager TagManager
@{
    var collectionModel = new CollectionModel() { Collection = Model.Collection, PermittedToChange = Model.PermittedToChange };
}
@Html.AntiForgeryToken()
<link href="~/css/Collection/Collection.css" rel="stylesheet" />
<link href="~/css/Collection/Index.css" rel="stylesheet" />
<link href="~/lib/tagify/tagify.css" rel="stylesheet" />
<partial name="_PartialCollection" model="collectionModel" />
@if (Model.PermittedToChange)
{
    <a class="btn btn-outline-primary m-2" asp-area="Item" asp-page="Create" asp-route-collectionID="@Model.Collection.CollectionID"><i class="fa fa-plus-square"></i> Add product</a>
}
<table class="table table-sm table-hover table-borderless table-active">
    <thead class="thead-dark">
        <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Tags</th>
            @foreach (var column in Model.Collection.Columns)
            {
                <th scope="col">@column.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Collection.Products)
        {
            <tr name="record" href="/Item?id=@product.ProductID" class="product text-center position-relative">
                <td>@product.ProductID</td>
                <td>@product.Name</td>
                <td name="tags">@await TagManager.GetProductTags(product)</td>
                @foreach (var columnValue in product.ColumnValues)
                {
                    <td name="columnValue">@columnValue.Value</td>
                }
            </tr>
        }
    </tbody>
</table>
<script src="~/lib/markdown-it/markdown-it.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Collection/Collection.js"></script>
<script src="~/lib/tagify/jQuery.tagify.min.js"></script>
<script src="~/js/Collection/Index.js"></script>