@page
@model KaberdinCourseiLearning.Areas.Collection.Pages.IndexModel;
@using KaberdinCourseiLearning.Pages.Partials.Models;
@inject IViewLocalizer Localizer
@{
    var collectionModel = new CollectionModel() { Collection = Model.Collection, PermittedToChange = Model.PermittedToChange };
}
@Html.AntiForgeryToken()
<link href="~/css/Collection/Collection.css" rel="stylesheet" />
<link href="~/css/Collection/Index.css" rel="stylesheet" />
<link href="~/lib/tagify/tagify.css" rel="stylesheet" />
<partial name="_PartialCollection" model="collectionModel" />
<div id="products">
    @if (Model.PermittedToChange)
    {
        <a class="btn btn-outline-primary m-2" asp-area="Item" asp-page="Create" asp-route-collectionID="@Model.Collection.CollectionID"><i class="fa fa-plus-square"></i> @Localizer["Add product"]</a>
    }
    <input class="search d-inline-block form-control" style="width:12rem;" placeholder="@Localizer["Search"]" />
    <table class="table table-sm table-responsive-sm table-hover table-borderless table-active">
        <thead>
            <tr class="text-center">
                <th class="sort hoverable" data-sort="ID" scope="col">ID</th>
                <th class="sort hoverable" data-sort="Name" scope="col">@Localizer["Name"]</th>
                <th class="sort hoverable" data-sort="Tags" scope="col">@Localizer["Tags"]</th>
                @foreach (var column in Model.Collection.Columns.OrderBy(c => c.ColumnID))
                {
                    <th class="sort hoverable" data-sort="@column.ColumnName" name="ColumnName" scope="col">@column.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var product in Model.Collection.Products)
            {
                <tr name="record" href="/Item?id=@product.ProductID" class="product hoverable text-center position-relative">
                    <td class="ID">@product.ProductID</td>
                    <td class="Name">@product.Name</td>
                    <td class="Tags" name="tags">@product.Tags</td>
                    @foreach (var columnValue in product.ColumnValues.OrderBy(c => c.ColumnID))
                    {
                        var html = Html.Raw(columnValue.Value);
                        switch (columnValue.Value)
                        {
                            case "true":
                                html = Html.Raw("<i class='fa fa-check'></i>");
                                break;
                            case "false":
                                html = Html.Raw("<i class='fa fa-times'></i>");
                                break;
                        }
                        <td class="@columnValue.Column.ColumnName">@html</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/lib/markdown-it/markdown-it.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Collection/Collection.js"></script>
<script src="~/lib/tagify/jQuery.tagify.min.js"></script>
<script src="~/lib/list.js/list.js"></script>
<script src="~/js/Collection/Index.js"></script>
