@model KaberdinCourseiLearning.Pages.Partials.Models.CollectionModel;
@using KaberdinCourseiLearning.Resources
@inject SharedThemeLocalizer ThemeLocalizer
@{
    var css = $"background-image: url({Model.Collection.BackgroundUrl});";
    var collection = Model.Collection;
}
<div class="container position-relative d-flex flex-column" style="@css" name="Collection" id="@collection.CollectionID">
    <div class="row bg-darkblue" name="CollectionAuthor">
        <div class="col-3 col-sm-2 m-h-100" name="CollectionAuthorAvatar">
            <img src="@collection.User.AvatarUrl" class="img-thumbnail m-h-100" alt="...">
        </div>
        <div class="col-8 col-sm-9" name="CollectionAuthorName">
            <a name="CollectionAuthor" asp-area="User" asp-page="/Profile" asp-route-name="@collection.User.UserName" class="text-break font-weight-bold text-light text-left">@collection.User.UserName</a>
        </div>
    </div>
    <div class="row Blk-Trslcnt-Bg ViewableCollection" name="HeaderData">
        <div class="col-6">
            <p name="CollectionName" class="font-weight-bold text-light">@collection.Name</p>
        </div>
        <div class="col-6">
            <p name="CollectionTheme" class="font-weight-bold text-light text-right"><span class="badge badge-dark badge-pill">@ThemeLocalizer[collection.Theme]</span></p>
        </div>
    </div>
    <div class="collapse row Blk-Trslcnt-Bg ViewableCollection" name="CollapsableDescriptionDiv">
        <div class="ml-3 mr-3 text-light text-break" name="DescriptionDiv">
            <p class="markdown" name="Description">@collection.Description</p>
        </div>
    </div>
    <div class="row Blk-Trslcnt-Bg ViewableCollection" name="CollectionControls">
        <button class="btn btn-light align-bottom-center position-absolute" name="ShowDetail"><i class="fas fa-angle-down"></i></button>
        @if (Model.PermittedToChange)
        {
            <div class="position-absolute align-bottom-right" name="buttonGroup">
                <button class="btn btn-light" name="colDelete"><i class="fa fa-trash"></i></button>
                <button class="btn btn-light" name="colEdit"><i class="fa fa-edit"></i></button>
            </div>
        }
    </div>
</div>