@model KaberdinCourseiLearning.Pages.Partials.Models.ItemModel;

@{
    var item = Model.Item;
}
<div class="background-image-cover container position-relative d-flex flex-column" style="background-image: url(@item.Collection.BackgroundUrl);" name="Item" id="@item.ProductID">
    <div class="row Blk-Trslcnt-Bg" name="ItemAuthor">
        <div class="col" name="ItemCollectionName" style="max-height:2rem;">
            <a name="Collection" asp-area="Collection" asp-page="/Index" asp-route-id="@item.CollectionID" class="text-break font-weight-bold text-light text-left">@item.Collection.Name</a>
        </div>
    </div>
    <div class="row Blk-Trslcnt-Bg" name="HeaderData">
        <div class="col-6">
            <p name="ItemName" class="font-weight-bold text-light">@item.Name</p>
        </div>
        <div class="col-6">
            <p name="ItemTags" class="font-weight-bold text-light text-right">
            @foreach(var tag in item.Tags.Split(","))
            {
                <a asp-page="Find" asp-route-q="#@tag"><span class="badge badge-dark badge-pill hoverable">@tag</span></a>
            }
            </p>
        </div>
    </div>
    <div class="row flex-grow-1 Blk-Trslcnt-Bg overflow-hidden text-light text-break collapse" name="FieldsDiv">
        <div class="col container fieldsContainer" name="ProductFields">
                @foreach (var columnValue in item.ColumnValues)
                {
                    var name = columnValue.Column.ColumnName;
                    var value = columnValue.Value;
                    <div class="row"> 
                        <div class="col-md-2 d-flex flex-wrap align-items-center"><span class="badge badge-dark">@name</span></div>
                        @{ 
                            var css = "";
                            if (columnValue.Column.TypeID == 4 || columnValue.Column.TypeID == 5)
                            {
                                css = "markdown";
                            }
                            var html = Html.Raw($"<strong class='{css}'>{value}</strong>");
                            switch (value)
                            {
                                case "true":
                                    html = Html.Raw("<i class='fa fa-check'></i>");
                                    break;
                                case "false":
                                    html = Html.Raw("<i class='fa fa-times'></i>");
                                    break;
                                default:
                                    break;
                            }
                            <div class="col-md-10">@html</div>
                        }
                    </div>
                }
        </div>
    </div>
    <div class="row Blk-Trslcnt-Bg" name="CollectionControls">
        <div class="LikeBox position-absolute align-bottom-left">
            @{
                string likeBtnCss = "color:var(--light);";
                if (User.Identity.IsAuthenticated)
                {
                    if (Model.isLiked)
                    {
                        likeBtnCss = "color:var(--danger);";
                    }
                    <a data-liked="@Model.isLiked.ToString().ToLower()" style="@likeBtnCss cursor:pointer;" id="LikeBtn"><i class="fas fa-heart"></i> <span class="badge badge-light badge-pill" id="LikeCount">@item.Likes.Count</span></a>
                }
                else
                {
                    <a style="@likeBtnCss"><i class="fas fa-heart"></i> <span class="badge badge-light badge-pill" id="LikeCount">@item.Likes.Count</span></a>
                }
            }
        </div>
            <button class="btn btn-light align-bottom-center position-absolute" name="ShowDetail"><i class="fas fa-angle-down"></i></button>
            @if (Model.PermittedToChange)
            {
                <div class="position-absolute align-bottom-right" name="buttonGroup">
                    <button class="btn btn-light" id="DeleteBtn"><i class="fa fa-trash"></i></button>
                    <a class="btn btn-light" id="EditBtn" asp-area="Item" asp-page="Create" asp-route-productID="@item.ProductID"><i class="fa fa-edit"></i></a>
                </div>
            }
    </div>
</div>