@page
@model KaberdinCourseiLearning.Areas.Item.Pages.IndexModel
@using KaberdinCourseiLearning.Managers;
@using KaberdinCourseiLearning.Data.Models;
@inject CustomUserManager UserManager
@inject SignInManager<CustomUser> SignInManager
@{
}
@Html.AntiForgeryToken()
<link href="~/css/Collection/Collection.css" rel="stylesheet" />
<input hidden id="productID" value="@Model.Product.ProductID" />
<partial name="_PartialItem" model="Model.ItemModel" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Product/PartialItem.js"></script>
<link href="~/css/Product/Product.css" rel="stylesheet" />
<link href="~/css/Comment/Comment.css" rel="stylesheet" />
<div class="card mt-3">
    <div class="card-header">
        <p class="text-center">Comments</p>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="row m-2">
                <input id="commentInput" placeholder="Write your comment." class="col-10 col-sm-11 h-auto bg-dark text-light form-control form-control-plaintext" />
                <button id="commentSend" class="col-2 col-sm-1 btn btn-primary"><i class="fa fa-paper-plane"></i></button>
            </div>
        }
    </div>
    <div class="card-body pl-0 pr-0" id="CommentBox">

        <div class="card comment" id="ClonableComment">
            <div class="card-header text p-0 row m-0">
                <div class="col-2 col-sm-1 p-0"><img src="#" class="Avatar img-thumbnail" /></div>
                <div class="col-5 col-sm-7 UserName"></div>
                <div class="col-5 col-sm-4 text-right Date"></div>
            </div>
            <div class="card-body row comment-body">
            </div>
        </div>

        @foreach (var comment in Model.Product.Comments)
        {
            <div class="card comment" id="@comment.CommentID">
                <div class="card-header text p-0 row m-0">
                    <div class="col-2 col-sm-1 p-0"><img src="@comment.User.AvatarUrl" class="Avatar img-thumbnail" /></div>
                    @{
                        var roles = await UserManager.GetRolesAsync(comment.User);
                        var rolesHtml = "";
                        foreach (var role in roles)
                        {
                            rolesHtml += $"<span class='badge badge-dark'>{role}</span>";
                        }
                    }
                    <div class="col-5 col-sm-7 UserName">@comment.User.UserName @Html.Raw(rolesHtml)</div>
                    <div class="col-5 col-sm-4 text-right Date">@comment.CreationTime.ToShortDateString() @comment.CreationTime.ToShortTimeString()</div>
                </div>
                <div class="card-body row comment-body">
                    @comment.Message
                </div>
            </div>
        }
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Product/Comments.js"></script>