@page
@model KaberdinCourseiLearning.Pages.AdminPanelModel
@{
    ViewData["Title"] = "AdminPanel";
}

@using Microsoft.AspNetCore.Identity;
@using KaberdinCourseiLearning.Data.Models;
@inject UserManager<CustomUser> UserManager
<style>
    td{
        vertical-align:middle !important;
    }
</style>
@Html.AntiForgeryToken()
<form name="formTable" method="post">
    <div class="container-fluid d-flex justify-content-center">
        <div class="container">
            <div style="margin-bottom:16px" class="row justify-content-around">
                <button class="btn btn-outline-primary col-3" onclick="return prepareAction(this.value)" value="Block">
                    <i style="margin-right:5px" class="fa fa-ban"></i>Block
                </button>
                <button class="btn btn-outline-primary col-3" onclick="return prepareAction(this.value)" value="Unblock">
                    <i style="margin-right:5px" class="fa fa-user-check"></i>Unblock
                </button>
                <button class="btn btn-outline-primary col-3" onclick="return prepareAction(this.value)" value="Delete">
                    <i style="margin-right:5px" class="fa fa-user-slash"></i>Delete
                </button>
            </div>
        </div>
    </div>
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col" class="col-1"><button class="btn-primary font-weight-bold rounded" OnClick="return toggleClick()">Toggle</button></th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col" class="col-3">Role</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                var Style = Html.Raw("");
                if (user.Id == Model.CurrentUser.Id)
                {
                    Style = Html.Raw("font-weight-bold");
                }
                var userRoles = await UserManager.GetRolesAsync(user);
                <tr class="@Style text-center">
                    <td class="align-middle text-center"><input type="checkbox" name="Selected" value="@user.Id" /></td>
                    <td><a class="nav-link text-dark" asp-area="User" asp-page="/Profile" asp-route-name="@user.UserName">@user.UserName</a></td>
                    <td>@user.Email</td>
                    <td>
                        <select class="form-control" name="SelectedRole" id="@user.Id" onchange="return roleChanged(this)">
                            @foreach (var role in Model.Roles)
                            {
                                if (userRoles.Contains(role.Name))
                                {
                                    <option selected>@role.Name</option>
                                }
                                else
                                {
                                    <option>@role.Name</option>
                                }
                            }
                            @{
                                if (userRoles.Count == 0)
                                {
                                    <option selected>User</option>
                                }
                                else
                                {
                                    <option>User</option>
                                }
                            }
                        </select>
                    </td>
                    @if (user.LockoutEnd > DateTime.Now)
                    {
                        <td>Banned</td>
                    }
                    else
                    {
                        <td>Active</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/AdminPanel.js"></script>


