@page
@model IndexModel
@inject IViewLocalizer Localizer
@{
ViewData["Title"]="Home page" ;
}
<link href="~/css/MainPage.css" rel="stylesheet" />
<div class="container">
    <div class="p-2 m-4 rounded3x underlay">
        <div class="p-2">
            <h3 class="text-center">@Localizer["TagsHeading"]</h3>
            <div class="mb-2 h4 mt-2" name="tagCloud">
                @foreach (var tag in Model.Tags)
                {
                    <a asp-page="Find" asp-route-q="#@tag.TagValue"><span class="hoverable mr-1 badge badge-secondary badge-pill">@tag.TagValue</span></a>
                }
            </div>
        </div>
    </div>
    <div class="p-2 m-4 rounded3x underlay">
        <div class="p-2">
            <h3 class="text-center">@Localizer["LastItemsHeading"]</h3>
            <div class="mb-2 mt-2" name="LastAdded">
                <div id="carouselLastAdded" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner h-100">
                        @foreach (var product in Model.LastItems)
                        {
                            <a class="carousel-item" style="background-image:url(@product.Collection.BackgroundUrl)" asp-area="Item" asp-page="Index" asp-route-id="@product.ProductID">
                                <div class="position-relative h-100 w-100 Blk-Trslcnt-Bg">
                                    <div class="text-center position-absolute align-bottom-center">
                                        <h5 class="text-light">@product.Name</h5>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselLastAdded" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselLastAdded" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2 m-4 rounded3x underlay">
        <div class="p-2">
            <h3 class="text-center">@Localizer["BiggestHeading"]</h3>
            <div class="mb-2 mt-2" name="BiggestCollections">
                <div id="carouselBiggestCollections" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner h-100">
                        @foreach (var collection in Model.BiggestCollections)
                        {
                            <a class="carousel-item" style="background-image:url(@collection.BackgroundUrl)" asp-area="Collection" asp-page="Index" asp-route-id="@collection.CollectionID">
                                <div class="position-relative h-100 w-100 Blk-Trslcnt-Bg">
                                    <div class="text-center position-absolute align-bottom-center">
                                        <h5 class="text-light">@collection.Name</h5>
                                        <p class="text-light">@collection.Description</p>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselBiggestCollections" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselBiggestCollections" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".carousel-inner").each(function (i, e) {
        $(this).children().first().addClass("active");
    })
</script>
